* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background-color: #101010;
  text-align: center;
}

h1, h2, h3, p {
  padding: 1em;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#progressBar {
  width: 0px;
  height: 10px;
  background-color: yellow;
}

#progressBorder {
  margin-left: auto;
  margin-right: auto;
  background-color: grey;

}
